body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
card{
  width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid rgb(192, 85, 85);
border-radius: 4px;
box-sizing: border-box;
}
input[type="text"]{
  background-color: rgb(155, 197, 202);
  border-radius:4px;
  padding: 5px;
}
input[type="submit"]{
  background-color: rgb(163, 243, 16);
  border-radius:4px;
  padding: 5px;
}
card-title{
  border: 1px solid rgb(211, 22, 201);
  border-radius: 4px;
  box-sizing: border-box;
}
card-body{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(54, 211, 22);
  border-radius: 4px;
  box-sizing: border-box;
}
div {
  border-radius: 5px;
  background-color: #3d79c7c0;
  padding: 20px;
  border: 1px solid rgb(54, 211, 22);
  max-width: 50pc;
  margin:auto
}